<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
  
                   <div class="container"> 
                  <h1>View Student Enquires!</h1>
                  <a href="/addenq" class="btn btn-primary">Add Enquire Student</a>
                 <form th:action="@{/filter}" th:object="${student}" method="post">
                  <table> 
                  <tr>
                     <td>Student mode</td>
                         <td><select th:field="*{studentmode}" id="studentmode" class="form-select">
                                   <option value="">-Select-</option>
                                   <option value="online">Online</option>
                                   <option value="classroom">Class Room</option>
                         </select></td>
                         <td>Student Course</td>
                         <td><select th:field="*{studentcourse}" id="studentcourse" class="form-select">
                                   <option value="">-Select-</option>
                                   <option value="java">Java</option>
                                   <option value="Python">Python</option>
                                   <option value="salesForce">SalesForce</option>
                                   <option value="datascience">Data Sacience</option>
                         </select></td>
                         <td>Student Status</td>
                         <td><select th:field="*{studentstatus}" id="studentstatus" class="form-select">
                         
                                   <option value="">-Select-</option>
                                   <option value="enrolled">Enrolled</option>
                                   <option value="lost">Lost</option>
                                  
                         </select></td>
                         <td><input type="submit" class="btn btn-primary" value="Search"></td>
                          
                      </tr>   
              </table>  
             </form>	
          </div>
	<div class="container">
		<table class="table table-bored" id="enqTable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Course Name</th>
					<th>Status</th>
					<th>Class Mode</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list: ${entities}">

					<td th:text="${list.studentname}"></td>
					<td th:text="${list.studentphno}"></td>
					<td th:text="${list.studentcourse}"></td>
					<td th:text="${list.studentstatus}"></td>
					<td th:text="${list.studentmode}"></td>
				</tr>
			</tbody>
		</table>

	</div>
	<script>
                  $(document).ready(function() {
                       $('.form-select').on("change",function(){
                           $.ajax({
                                 type:'POST',
                                 url: '/filter',
                                 data:{
                                          studentmode: $('#studentmode').val(),
                                          studentcourse: $('#studentcourse').val(),
                                          studentstatus: $('#studentstatus').val(),
                                 },
                                     Sucess: function(result){
                                     
                                            $("#enqTable").hide();
                                            $("#filterTable").html(result);
                                     }
                           });
                       });
                  });
          
          </script>   
              
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>
</html>